html, body {
	background: #000;
	color: #e6e6e6;
	font-family: sans-serif;
	line-height: 1.5;
	margin: 0;
}

body {
	position: relative;
	z-index: 0;

	max-width: 768px;
	margin: 1.25rem auto;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 9999;

	background-image: url("/img/noise.png");
	background-repeat: repeat;

	opacity: 0.1;
}

header {
	border-bottom: 1px solid rgba(230, 230, 230, 0.18);
	margin-bottom: 1rem;
}

footer {
	border-top: 1px solid rgba(230, 230, 230, 0.18);
	margin-top: 1rem;
}

a {
	color: #ff0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
