<!doctype html>
<html
    lang="{{ site.Language.LanguageCode }}"
    dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <header>
            {{ if not .Params.noHeader }} {{ partial "header.html" . }} {{ end
            }}
        </header>
        <main>{{ block "main" . }}{{ end }}</main>
        <footer>
            {{ if not .Params.noFooter }} {{ partial "footer.html" . }} {{ end
            }}
        </footer>
    </body>
</html>
