{{ define "main" }}
	{{ with .Content }}
		<section class="home-intro">
			{{ . }}
		</section>
	{{ end }}

	{{ range (where site.RegularPages "Section" "posts").ByDate.Reverse }}
		<section class="post-teaser">
			<div class="post-header">
				<h2 class="post-title">
					<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
				</h2>

				<time class="post-date" datetime="{{ .Date.Format "2006-01-02Z07:00" }}">
					{{ .Date.Format "2006/01/02" }}
				</time>
			</div>

			{{ if and .RawContent .Description }}
				<p class="post-desc">{{ .Description }}</p>
			{{ end }}
		</section>
	{{ end }}
{{ end }}
